@font-face {
  font-family: "iconfont"; /* Project id 4098311 */
  src: url('iconfont.woff2?t=1686571527076') format('woff2'),
       url('iconfont.woff?t=1686571527076') format('woff'),
       url('iconfont.ttf?t=1686571527076') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjian-shangchuan:before {
  content: "\e681";
}

.icon-wuxianwangluo:before {
  content: "\e66c";
}

.icon-xianlu:before {
  content: "\e61b";
}

.icon-shipin:before {
  content: "\e606";
}

.icon-bofangqi-danmuguan:before {
  content: "\e696";
}

.icon-bofangqi-danmukai:before {
  content: "\e697";
}

.icon-fuguyanjing:before {
  content: "\e6b4";
}

.icon-biaoqing:before {
  content: "\e624";
}

.icon-chaoqing:before {
  content: "\e627";
}

.icon-a-jiaohuanfanxiang:before {
  content: "\e630";
}

.icon-huazhonghua1:before {
  content: "\e610";
}

.icon-zanting:before {
  content: "\e60f";
}

.icon-zanting1:before {
  content: "\e662";
}

.icon-dagou:before {
  content: "\e607";
}

.icon-chacha:before {
  content: "\e60e";
}

.icon-zuojiantou:before {
  content: "\e625";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-qingxidu:before {
  content: "\e60c";
}

.icon-fanhui:before {
  content: "\e855";
}

.icon-Rrl_s_048:before {
  content: "\e61d";
}

.icon-bofang1:before {
  content: "\e600";
}

.icon-xiazai-:before {
  content: "\e650";
}

.icon-24gl-fullScreenEnter2:before {
  content: "\ea68";
}

.icon-huazhonghua:before {
  content: "\e86d";
}

.icon-diandiandianshu:before {
  content: "\e679";
}

.icon-shengyinjingyin:before {
  content: "\eca9";
}

.icon-shengyin:before {
  content: "\e8b8";
}

.icon-benpao:before {
  content: "\e60d";
}

